<div class="container">
  <img src="" alt="">

  <ngb-carousel #carouselImg [interval]="10000" class="my-carousel">
    <ng-template ngbSlide *ngFor="let img of galeria">
      <div>
        <h3 class="">{{ img.nombre }}</h3>
        <h4 >{{ img.descripcion }}</h4>
      </div>
      <div class="carousel-caption">
      </div>
      <div class="picsum-img-wrapper">
        <img [src]="'../../../assets/'+img.url" [alt]="img.nombre" />
      <br>
      </div>
    </ng-template>
  </ngb-carousel>

  <br>
</div>
