.display-1 {
  color: rgb(11, 83, 69 );
  text-align: center;
  margin-top: 0;
}

.h2 {
  font-weight: bold;
  color: rgb(11, 83, 69 );
  -webkit-text-stroke: 0.5px rgb(5, 104, 35);
  text-align: center;
}

.imagen {
  text-align: center;
}

h1{
  margin-top: 0;
}

img{
  width: 20%;
}

a{
  color: rgb(225, 225, 225);
  font-size: larger;
  font-weight: 500;
}

ul {
  background-color: rgb(203, 203, 207);
  background-size: cover;
  background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.192));
  border-radius: 10px;
}

li {
  display: inline-block; /* Hace que los elementos <li> se muestren en línea */
  margin: 0 10px; /* Agrega un margen opcional entre los elementos para el espaciado */
}
