.display-1 {
  font-weight: bold;
  color: rgb(11, 83, 69 );
  -webkit-text-stroke: 1px rgb(5, 104, 35);
  text-align: center;
}

.h2 {
  font-weight: bold;
  color: rgb(11, 83, 69 );
  -webkit-text-stroke: 0.5px rgb(5, 104, 35);
  text-align: center;
}
