<div class="container">
  <h1>Especialidad </h1>
  <table class="table-success">
    <tr class="table-success">
      <th>Plato</th>
      <th>Descripción</th>
      <th>Precio</th>
    </tr>
    <tr class="table-success">
      <td class="table-success">Pasta Carbonara</td>
      <td class="table-success">Pasta con salsa de huevo, queso y panceta.</td>
      <td class="table-success">$12.99</td>
    </tr>
    <tr>
      <td>Pizza Margherita</td>
      <td>Pizza con salsa de tomate, mozzarella y albahaca.</td>
      <td>$10.99</td>
    </tr>
    <tr>
      <td>Ensalada César</td>
      <td>Lechuga romana, crutones, queso parmesano y aderezo césar.</td>
      <td>$8.99</td>
    </tr>
    <tr>
      <td>Ensalada César</td>
      <td>Lechuga romana, crutones, queso parmesano y aderezo césar.</td>
      <td>$8.99</td>
    </tr>
    <tr>
      <td>Ensalada César</td>
      <td>Lechuga romana, crutones, queso parmesano y aderezo césar.</td>
      <td>$8.99</td>
  </tr>
  </table>
</div>

<div class="container">
  <h1>Bebidas </h1>
  <table class="table-success">
    <tr class="table-success">
      <th>Plato</th>
      <th>Descripción</th>
      <th>Precio</th>
    </tr>
    <tr class="table-success">
      <td class="table-success">Pasta Carbonara</td>
      <td class="table-success">Pasta con salsa de huevo, queso y panceta.</td>
      <td class="table-success">$12.99</td>
    </tr>
    <tr>
      <td>Pizza Margherita</td>
      <td>Pizza con salsa de tomate, mozzarella y albahaca.</td>
      <td>$10.99</td>
    </tr>
    <tr>
      <td>Ensalada César</td>
      <td>Lechuga romana, crutones, queso parmesano y aderezo césar.</td>
      <td>$8.99</td>
    </tr>
    <tr>
      <td>Ensalada César</td>
      <td>Lechuga romana, crutones, queso parmesano y aderezo césar.</td>
      <td>$8.99</td>
    </tr>
    <tr>
      <td>Ensalada César</td>
      <td>Lechuga romana, crutones, queso parmesano y aderezo césar.</td>
      <td>$8.99</td>
  </tr>
  </table>
</div>

<div class="container">
  <h1>GRILL </h1>
  <table class="table-success">
    <tr class="table-success">
      <th>Plato</th>
      <th>Descripción</th>
      <th>Precio</th>
    </tr>
    <tr class="table-success">
      <td class="table-success">Pasta Carbonara</td>
      <td class="table-success">Pasta con salsa de huevo, queso y panceta.</td>
      <td class="table-success">$12.99</td>
    </tr>
    <tr>
      <td>Pizza Margherita</td>
      <td>Pizza con salsa de tomate, mozzarella y albahaca.</td>
      <td>$10.99</td>
    </tr>
    <tr>
      <td>Ensalada César</td>
      <td>Lechuga romana, crutones, queso parmesano y aderezo césar.</td>
      <td>$8.99</td>
    </tr>
    <tr>
      <td>Ensalada César</td>
      <td>Lechuga romana, crutones, queso parmesano y aderezo césar.</td>
      <td>$8.99</td>
    </tr>
    <tr>
      <td>Ensalada César</td>
      <td>Lechuga romana, crutones, queso parmesano y aderezo césar.</td>
      <td>$8.99</td>
  </tr>
  </table>
</div>
<div>
<br>
</div>

