.fondo-pagina {
  background-image: url('fondo.jpg'); /* Reemplaza 'ruta-de-tu-imagen.jpg' con la ruta de tu imagen */
  background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)), url('fondo.jpg');
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenido */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}
/* You can add global styles to this file, and also import other style files */
